In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv('../csv/half_processed_wins.csv')

In [3]:
def filter(names, df):
    mask = df['Players 1'].str.contains('|'.join(names))
    mask |= df['Players 2'].str.contains('|'.join(names))
    return df[mask]

In [4]:
polk = filter(['max model'], full_data)

In [5]:
polk

,Unnamed: 0,Team 1,Team 2,Players 1,Players 2,Score 1,Score 2,Tournament Stage,Tournament Name,Division,Category,New Score 1,New Score 2
677,5,Kingdom Come,Hilltop,"grant klapwijk, matthew cole","cole model, max model",21,14,Pool Play,columbus2023,Premier 5.0+,Top,1,0
708,36,TRP Spotless,Hilltop,"joe bondi, ryan gross","cole model, max model",21,13,Pool Play,columbus2023,Premier 5.0+,Top,1,0
741,69,Hilltop,Profit Boost,"cole model, max model","justin shaytar, kieran rose",21,19,Pool Play,columbus2023,Premier 5.0+,Top,1,0
773,101,Kingdom Come,Hilltop,"grant klapwijk, matthew cole","cole model, max model",21,18,Pool Play,columbus2023,Premier 5.0+,Top,1,0
804,132,TRP Spotless,Hilltop,"joe bondi, ryan gross","cole model, max model",23,21,Pool Play,columbus2023,Premier 5.0+,Top,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9386,169,Pour Combien ?,Hilltop,"dorian améziane, robin florinda","cole model, max model",25,24,Pool Play,toulouse2023,Premier 5.0+,Top,1,0
9435,652,Hilltop,Rainbow Warriors,"cole model, max model","fabian claus, josha lauterbach",14,16,Bracket play round of 3rd place game 1,toulouse2023,Premier 5.0+,Top,0,1
9436,653,Hilltop,Rainbow Warriors,"cole model, max model","fabian claus, josha lauterbach",21,19,Bracket play round of 3rd place game 2,toulouse2023,Premier 5.0+,Top,1,0
9437,654,Hilltop,Rainbow Warriors,"cole model, max model","fabian claus, josha lauterbach",12,15,Bracket play round of 3rd place game 3,toulouse2023,Premier 5.0+,Top,0,1
9455,674,Toothpickflicks,Hilltop,"esaja ekman, markus anderle","cole model, max model",1,2,Bracket play round of 9th place game 1,toulouse2023,Premier 5.0+,Top,0,1

In [6]:

def player_stats(player_name):
    # Filtering based on player name
    df = filter([player_name], full_data)
    df_player1 = df[df['Players 1'].str.contains(player_name)]
    df_player2 = df[df['Players 2'].str.contains(player_name)]
    
    wins_as_player1 = df_player1[df_player1['Score 1'] > df_player1['Score 2']]
    wins_as_player2 = df_player2[df_player2['Score 2'] > df_player2['Score 1']]
    total_wins = len(wins_as_player1) + len(wins_as_player2)
    
    losses_as_player1 = df_player1[df_player1['Score 1'] < df_player1['Score 2']]
    losses_as_player2 = df_player2[df_player2['Score 2'] < df_player2['Score 1']]
    
    # Average Scores on Wins and Losses
    avg_score_wins = (wins_as_player1['Score 1'].sum() -wins_as_player1['Score 2'].sum() + wins_as_player2['Score 2'].sum() -wins_as_player2['Score 1'].sum()) / total_wins if total_wins else 0
    total_losses = len(losses_as_player1) + len(losses_as_player2)
    avg_score_losses = (losses_as_player1['Score 1'].sum() -losses_as_player1['Score 2'].sum() + losses_as_player2['Score 2'].sum() -losses_as_player2['Score 1'].sum()) / total_losses if total_losses else 0
    
    # Points stats
    total_points_scored = df_player1['Score 1'].sum() + df_player2['Score 2'].sum()
    total_points_conceded = df_player1['Score 2'].sum() + df_player2['Score 1'].sum()
    
    print(f"Player: {player_name}")
    print(f"Total Wins: {total_wins}")
    print(f"Total Losses: {total_losses}")
    print(f"Average Score on Wins: {avg_score_wins}")
    print(f"Average Score on Losses: {avg_score_losses}")
    print(f"Total Points Scored: {total_points_scored}")
    print(f"Total Points Conceded: {total_points_conceded}")
    print(df['Division'].value_counts())
    print(df['Tournament Name'].value_counts())

In [12]:
player_stats('fredric hinkle')

Player: fredric hinkle
Total Wins: 96
Total Losses: 42
Average Score on Wins: 4.447916666666667
Average Score on Losses: -3.1904761904761907
Total Points Scored: 2663
Total Points Conceded: 2370
Premier 5.0+         71
Expert 5.0+          35
Premier 5.0          11
Premier (5.0)        11
Open Gold/Premier    10
Name: Division, dtype: int64
richmond2023        16
philadelphia2023    15
scgrandslam2023     15
columbus2023        15
saltlakecity2023    13
toulouse2023        12
tograndslam2023     11
heatwavevi          11
atlslam23           11
etslondon2023       10
sdgrandslam2023      9
Name: Tournament Name, dtype: int64